<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/styles.css"/>
	</head>

	<body>
		<%- include("header") %>
		<form method="POST" action="/new">
			<label>
				Username:
				<input type="text" name="user" required>
			</label>

			<label>
				Message:
				<textarea name="text" required></textarea>
			</label>

			<button>Submit</button>			
		</div>
	</body>
</html>